# mac
.DS_Store
/__pycache__
/.workspace
/.idea
*.pyc
/.venv
/ui/__pycache__
/.log
/.venv_wsl
/build
/dist
*.spec
*.bin
/main.dist
nuitka-crash-report.xml
/pipeline_runner
/deep_learning/checkpoints
*.ckpt
/pipeline_runner.dist
/pediatric_fdopa_pipeline/.idea
/pediatric_fdopa_pipeline/.venv
/ui/__pycache__
/test/.venv
/.venv-wsl
/src/main/.venv
/src/main/build
/src/main/dist
/src/main/pediatric_fdopa_pipeline/.venv
/src/main/pipeline_runner
/src/tests/.venv
/docs
.coverage
/src/.venv
/src/main/pediatric_fdopa_pipeline/.venv
*.html
*.js
/src/main/.venv
/src/main/build
/src/main/dist
/src/main/pipeline_runner
/src/tests/.venv
