# mac
.DS_Store
/__pycache__
/.workspace
/.idea
*.pyc
/.venv
*.pyc
/ui/__pycache__
/.log
/.venv_wsl
/build
/dist
*.pyc
*.spec
*.pyc
*.bin
/main.dist
nuitka-crash-report.xml
/pipeline_runner
/deep_learning/checkpoints
/dist
/pipeline_runner
*.ckpt
/pipeline_runner.dist
/pediatric_fdopa_pipeline/.idea
/pediatric_fdopa_pipeline/.venv
