# mac
.DS_Store
/__pycache__
/.workspace
/.idea
*.pyc
/.venv
*.pyc
/ui/__pycache__
/.log
/.venv_wsl
/build
/dist
*.pyc
*.spec
*.pyc
*.bin
/main.dist
nuitka-crash-report.xml
/pipeline_runner.dist
/deep_learning/checkpoints
/deep_learning_runner.dist
