--extra-index-url https://developer.download.nvidia.com/compute/redist/nightly
git+https://github.com/NVIDIA/dllogger
torch==2.6.0
pytorch-lightning==2.5.0.post0
scikit-learn
nvidia-dali-nightly-cuda120
monai==0.9.1
scikit-image
nuitka